<template>
    <lightning-layout class="customSticky">
        <lightning-layout-item size="8" padding="around-small"></lightning-layout-item>
        <lightning-layout-item size="4" padding="around-small">
                <div>
                    <div class="slds-grid slds-grid_align-spread slds-p-bottom_x-small" id="progress-bar-label-id-7">
                    <span>Vaccine inventory status</span>
                    <span aria-hidden="true">
                    <strong>75% Available</strong>
                    </span>
                    </div>
                    <div class="slds-progress-bar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="25" aria-labelledby="progress-bar-label-id-7" role="progressbar">
                    <span class="slds-progress-bar__value" style="width:25%">
                    <span class="slds-assistive-text">Progress: 25%</span>
                    </span>
                    </div>
                    </div>
        </lightning-layout-item>
    </lightning-layout>
</template>