.RED_COLOR { 
    color:#B22222;
}
.GREEN_COLOR {
    color:#228B22;
}
.GRAY_COLOR {
    color:#808080;
}

img {
    /*width:10%;*/
    border-radius: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
}