<template>
    <lightning-layout vertical-align="center">
        <lightning-layout-item flexibility="auto" padding="around-small">
            <template if:false={movePrev}>
                <lightning-layout multiple-rows>
                    <lightning-layout-item size={input_small_size} small-device-size={input_small_size} medium-device-size={label_normal_size} large-device-size={label_normal_size} padding={lightning_item_padding} >
                        <label class={label_class} for="officeBuildCombo">
                            Office Building
                        </label>
                    </lightning-layout-item>
                    <lightning-layout-item size={input_small_size} small-device-size={input_small_size} medium-device-size={input_normal_size} large-device-size={input_normal_size} padding={lightning_item_padding}>
                        <lightning-combobox
                        label=""
                        value={officeId}
                        options={officeBuildings}
                        variant="label-hidden"
                        class={text_size}
                        onchange={officeBuildingChange}
                        id="officeBuildCombo"
                        ></lightning-combobox>
                    </lightning-layout-item>
                    <lightning-layout-item size={input_small_size} small-device-size={input_small_size} medium-device-size={label_normal_size} large-device-size={label_normal_size} padding={lightning_item_padding}>
                        <label class={label_class} for="schedDate">
                            Enter the date that you are booking your seat for:
                        </label>
                    </lightning-layout-item>
                    <lightning-layout-item size={input_small_size} small-device-size={input_small_size} medium-device-size={input_normal_size} large-device-size={input_normal_size} padding={lightning_item_padding}>
                        <lightning-input
                        type="date" 
                        label=""
                        value={dd}
                        variant="label-hidden"
                        class={text_size}
                        onchange={schedDateChange}
                        id="schedDate"
                        ></lightning-input>
                    </lightning-layout-item>
                    <lightning-layout-item size={input_small_size} small-device-size={input_small_size} medium-device-size={label_normal_size} large-device-size={label_normal_size} padding={lightning_item_padding}>
                        <label class={label_class} for="schedStartTime">
                            Start Time for the appointment:
                        </label>
                    </lightning-layout-item>
                    <lightning-layout-item size={input_small_size} small-device-size={input_small_size} medium-device-size={input_normal_size} large-device-size={input_normal_size} padding={lightning_item_padding}>
                        <lightning-input
                        type="time" 
                        label=""
                        value={s}
                        variant="label-hidden"
                        class={text_size}
                        onchange={sDateChange}
                        id="schedStartTime"
                        ></lightning-input>
                    </lightning-layout-item>
                    <lightning-layout-item size={input_small_size} small-device-size={input_small_size} medium-device-size={label_normal_size} large-device-size={label_normal_size} padding={lightning_item_padding}>
                        <label class={label_class} for="schedEndTime">
                            End Time for the appointment:
                        </label>
                    </lightning-layout-item>
                    <lightning-layout-item size={input_small_size} small-device-size={input_small_size} medium-device-size={input_normal_size} large-device-size={input_normal_size} padding={lightning_item_padding}>
                        <lightning-input
                        type="time"
                        label=""
                        value={e}
                        variant="label-hidden"
                        required="true"
                        class={text_size}
                        onchange={eDateChange}
                        id="schedEndTime"
                        ></lightning-input>
                    </lightning-layout-item>
                </lightning-layout>
                <div class="slds-p-around_medium slds-text-align_center">
                    <button 
                    class={button_class}
                    onclick={checkNext}>Next
                    <lightning-icon variant="inverse" size="small" icon-name="utility:chevronright" class="slds-m-around_x-small"></lightning-icon>
                    </button>
                </div>
            </template>
            <template if:true={moveNext}>
                <lightning-layout multiple-rows>
                    <lightning-layout-item size={input_small_size} small-device-size={input_small_size} medium-device-size={label_normal_size} large-device-size={label_normal_size} padding={lightning_item_padding}>
                        <label class={label_class} for="chooseFloorCombo">
                            Floor Number
                        </label>
                    </lightning-layout-item>
                    <lightning-layout-item size={input_small_size} small-device-size={input_small_size} medium-device-size={input_normal_size} large-device-size={input_normal_size} padding={lightning_item_padding}>
                        <lightning-combobox
                        label=""
                        value={floorId}
                        options={availableFloors}
                        variant="label-hidden"
                        class={text_size}
                        onchange={floorChanged}
                        id="chooseFloorCombo"
                        ></lightning-combobox>
                    </lightning-layout-item>
                    <template for:each={availableWorkspaces} for:item="desk">
                        <lightning-layout-item size="12" small-device-size="4" medium-device-size="3" large-device-size="2" padding="around-medium" key={desk.Id}>
                            <div class="slds-p-around_medium slds-text-align_center">
                                <h1 class={desk.CSA_textColor__c}>{desk.CSA_Workspace_Name__c}</h1>
                                <img src={desk.CSA_imageUrl__c} alt="Desk photo" />
                                <template if:true={desk.CSA_Available__c}>
                                    <button 
                                    class={button_stretch_class}
                                    name={desk.Id}
                                    onclick={bookOnThisDesk}>
                                    <lightning-icon variant="inverse" size="small" icon-name="utility:date_input" class="slds-m-around_x-small"></lightning-icon>
                                    Book
                                    </button>
                                </template>
                            </div>
                        </lightning-layout-item>
                    </template>
                </lightning-layout>
                <div class="slds-p-around_medium slds-text-align_center">
                    <button 
                    class={button_class}
                    onclick={checkPrev}>
                    <lightning-icon variant="inverse" size="small" icon-name="utility:chevronleft" class="slds-m-around_x-small"></lightning-icon>
                    Previous
                    </button>
                </div>
            </template>
            <template if:true={confirmScreen}>
                <div class="slds-p-around_medium">
                    <p class={text_size}>Please review the appointment details below</p>
                </div>
                <div class={table_class}>
                    <table>
                        <tr>
                            <td style="font-weight: bold;">Office Building</td>
                            <td>{officeName}</td>    
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Floor Number</td>
                            <td>{floorName}</td>    
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Workspace</td>
                            <td>{workspaceName}</td>    
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Appointment Date</td>
                            <td>{dd}</td>    
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Time Slot</td>
                            <td>{s_label} to {e_label}</td>    
                        </tr>
                    </table>
                </div>
                <div class="slds-p-around_medium slds-text-align_center">
                    <button 
                    class={button_class}
                    onclick={checkPrev2}>
                    <lightning-icon variant="inverse" size="small" icon-name="utility:chevronleft" class="slds-m-around_x-small"></lightning-icon>
                    Previous
                    </button>
                    <button 
                    class={button_class}
                    onclick={finishBooking}>Finish
                    <lightning-icon variant="inverse" size="small" icon-name="utility:chevronright" class="slds-m-around_x-small"></lightning-icon>
                    </button>
                </div>
            </template>
        </lightning-layout-item>
    </lightning-layout>  
</template>