<apex:page standardController="Contact" applyBodyTag="false" applyHtmlTag="false" showHeader="false" showChat="false">
    
    
<script src="http://www.amcharts.com/lib/4/core.js"></script>
<script src="http://www.amcharts.com/lib/4/charts.js"></script>
<script src="http://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="http://www.amcharts.com/lib/4/plugins/forceDirected.js"></script>

    <h1>
        amchart4 - demo
    </h1>
    <div id="chartdiv"></div>

<style>
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
  width: 100%;
  height: 500px;
}    
</style>
    
<script>
/**
 * ---------------------------------------
 * This demo was created using amCharts 4.
 *
 * For more information visit:
 * https://www.amcharts.com/
 *
 * Documentation is available at:
 * https://www.amcharts.com/docs/v4/
 * ---------------------------------------
 */

am4core.useTheme(am4themes_animated);

// Create chart
var chart = am4core.create("chartdiv", am4plugins_forceDirected.ForceDirectedTree);

// Create series
var series = chart.series.push(new am4plugins_forceDirected.ForceDirectedSeries());
series.tooltip.label.interactionsEnabled = true;
series.tooltip.keepTargetHover = true;
    //series.data.template.tooltipHTML = '<b>{name}</b><br><a href="https://en.wikipedia.org/wiki/{name}">More info</a>';
series.nodes.template.tooltipHTML = '<b>{name}</b><br><a href="https://en.wikipedia.org/wiki/{name}">More info</a>';
    
// Icons
    //var workstation = "M0 30l4-8h24l4 8zM4 2v18h24V2H4zm22 16H6V4h20v14z";
var workstation = "M12.075 10.812 c 1.358 -0.853 2.242 -2.507 2.242 -4.037 c 0 -2.181 -1.795 -4.618 -4.198 -4.618 S 5.921 4.594 5.921 6.775 c 0 1.53 0.884 3.185 2.242 4.037 c -3.222 0.865 -5.6 3.807 -5.6 7.298 c 0 0.23 0.189 0.42 0.42 0.42 h 14.273 c 0.23 0 0.42 -0.189 0.42 -0.42 C 17.676 14.619 15.297 11.677 12.075 10.812 M 6.761 6.775 c 0 -2.162 1.773 -3.778 3.358 -3.778 s 3.359 1.616 3.359 3.778 c 0 2.162 -1.774 3.778 -3.359 3.778 S 6.761 8.937 6.761 6.775 M 3.415 17.69 c 0.218 -3.51 3.142 -6.297 6.704 -6.297 c 3.562 0 6.486 2.787 6.705 6.297 H 3.415 Z";

    //var server = "M6 0v30h2v2h4v-2h8v2h4v-2h2V0H6zm6 6H8V4h4v2z";
    var server = "M18.121 9.88 l -7.832 -7.836 c -0.155 -0.158 -0.428 -0.155 -0.584 0 L 1.842 9.913 c -0.262 0.263 -0.073 0.705 0.292 0.705 h 2.069 v 7.042 c 0 0.227 0.187 0.414 0.414 0.414 h 3.725 c 0.228 0 0.414 -0.188 0.414 -0.414 v -3.313 h 2.483 v 3.313 c 0 0.227 0.187 0.414 0.413 0.414 h 3.726 c 0.229 0 0.414 -0.188 0.414 -0.414 v -7.042 h 2.068 h 0.004 C 18.331 10.617 18.389 10.146 18.121 9.88 M 14.963 17.245 h -2.896 v -3.313 c 0 -0.229 -0.186 -0.415 -0.414 -0.415 H 8.342 c -0.228 0 -0.414 0.187 -0.414 0.415 v 3.313 H 5.032 v -6.628 h 9.931 V 17.245 Z M 3.133 9.79 l 6.864 -6.868 l 6.867 6.868 H 3.133 Z";

    //var printer = "M28 26h2V16h-4V2H6v14H2v10h2l-2 4h28l-2-4zM8 4h16v12H8V4zm0 20h16l2 4H6l2-4z";
var printer = "M 15.573 11.624 c 0.568 -0.478 0.947 -1.219 0.947 -2.019 c 0 -1.37 -1.108 -2.569 -2.371 -2.569 s -2.371 1.2 -2.371 2.569 c 0 0.8 0.379 1.542 0.946 2.019 c -0.253 0.089 -0.496 0.2 -0.728 0.332 c -0.743 -0.898 -1.745 -1.573 -2.891 -1.911 c 0.877 -0.61 1.486 -1.666 1.486 -2.812 c 0 -1.79 -1.479 -3.359 -3.162 -3.359 S 4.269 5.443 4.269 7.233 c 0 1.146 0.608 2.202 1.486 2.812 c -2.454 0.725 -4.252 2.998 -4.252 5.685 c 0 0.218 0.178 0.396 0.395 0.396 h 16.203 c 0.218 0 0.396 -0.178 0.396 -0.396 C 18.497 13.831 17.273 12.216 15.573 11.624 M 12.568 9.605 c 0 -0.822 0.689 -1.779 1.581 -1.779 s 1.58 0.957 1.58 1.779 s -0.688 1.779 -1.58 1.779 S 12.568 10.427 12.568 9.605 M 5.06 7.233 c 0 -1.213 1.014 -2.569 2.371 -2.569 c 1.358 0 2.371 1.355 2.371 2.569 S 8.789 9.802 7.431 9.802 C 6.073 9.802 5.06 8.447 5.06 7.233 M 2.309 15.335 c 0.202 -2.649 2.423 -4.742 5.122 -4.742 s 4.921 2.093 5.122 4.742 H 2.309 Z M 13.346 15.335 c -0.067 -0.997 -0.382 -1.928 -0.882 -2.732 c 0.502 -0.271 1.075 -0.429 1.686 -0.429 c 1.828 0 3.338 1.385 3.535 3.161 H 13.346 Z";
    
    
    //var router = "M26 20v-8a5 5 0 1 0-2 0v8l-2 1-11-11a5 5 0 0 0-4-8 5 5 0 0 0-1 10v8a5 5 0 1 0 2 0v-8l2-1 11 11-1 3a5 5 0 1 0 6-5z";
var router = "M 17.927 5.828 h -4.41 l -1.929 -1.961 c -0.078 -0.079 -0.186 -0.125 -0.297 -0.125 H 4.159 c -0.229 0 -0.417 0.188 -0.417 0.417 v 1.669 H 2.073 c -0.229 0 -0.417 0.188 -0.417 0.417 v 9.596 c 0 0.229 0.188 0.417 0.417 0.417 h 15.854 c 0.229 0 0.417 -0.188 0.417 -0.417 V 6.245 C 18.344 6.016 18.156 5.828 17.927 5.828 M 4.577 4.577 h 6.539 l 1.231 1.251 h -7.77 V 4.577 Z M 17.51 15.424 H 2.491 V 6.663 H 17.51 V 15.424 Z";
    
    
// Set data
series.data = [{
  "name": "Credit Valley Hospital",
  "path": server,
  "children": [{
    "name": "John Doe",
    "value": 1,
    "path": workstation
  }, {
    "name": "Exposed Individual 1",
    "value": 1,
    "path": workstation
  }, {
    "name": "Amy Smith",
    "value": 1,
    "path": workstation
  }, {
    "name": "Jack Frost",
    "value": 1,
    "path": workstation
  }, {
    "name": "Jane Doe",
    "value": 1,
    "path": printer
  }, {
    "name": "Exposed",
    "value": 1,
    "path": router,
    "link": ["n2"]
  }]
}, {
  "name": "ABC Long Term Care",
  "path": server,
  "children": [{
    "name": "Mickey Mouse",
    "value": 1,
    "path": workstation,
    "url": "https://rop-covid19-demo.my.salesforce.com/0035w0000342Ook"
  }, {
    "name": "Minnie Mouse",
    "value": 1,
    "path": workstation
  }, {
    "name": "Donald Duck",
    "value": 1,
    "path": workstation
  }, {
    "id": "n2",
    "name": "Exposed",
    "value": 1,
    "path": router
  }]
}];

// Set up data fields
series.dataFields.value = "value";
series.dataFields.name = "name";
series.dataFields.id = "id";
series.dataFields.children = "children";
series.dataFields.linkWith = "link";

// Add labels
series.nodes.template.label.text = "{name}";
series.nodes.template.label.valign = "bottom";
series.nodes.template.label.fill = am4core.color("#000");
series.nodes.template.label.dy = 10;
series.nodes.template.tooltipText = "{name}: [bold]{value}[/]";
series.fontSize = 10;
series.minRadius = 30;
series.maxRadius = 30;

// Configure circles
series.nodes.template.circle.fill = am4core.color("#fff");
series.nodes.template.circle.fill = am4core.color("#fff");

// Configure icons
var icon = series.nodes.template.createChild(am4core.Sprite);
icon.propertyFields.path = "path";
icon.horizontalCenter = "middle";
icon.verticalCenter = "middle";
icon.width = am4core.percent(100);
icon.height = am4core.percent(100);


series.centerStrength = 0.4;    
</script>
    
</apex:page>