<apex:page lightningStylesheets="true">
<html style="background:white !important;">
    <style>
        html{
        background-color: white;
        }
    </style> 
    
    <br/>
    <center>
        <font size="5" color="White">Visitor Checklist</font>
    </center>
    <br/>
    <flow:interview name="Visitor_Checklist"  
                    buttonLocation="bottom"  finishLocation="{!URLFOR('https://vlocityps10-154826750bc-16b7-171ac18b149.force.com/Covid19visitorchecklist/s/')}"
                    buttonStyle="color:#050; background-color:#fed; border:1px solid;" />
    <style type="text/css">
        .FlowPageBlockBtns .FlowNextBtn {
        font-size:14px;
        text-align:center;
        }      
        .FlowContainer {
        background-color:white !important;
        }
        .FlowPageBlockBtns .FlowPreviousBtn {
        font-size:14px;
        text-align:center;
        }      
        .FlowPageBlockBtns .FlowFinishBtn {
        font-size:14px;
        text-align:center;
        }      
        .FlowRadio{
        font-size: 14px;
        }
        
        .FlowText{
        font-size: 14px;
        }
        
        .FlowTextArea{
        font-size: 14px;
        }
        
        .FlowNumber{
        font-size: 14px;
        }
        
        .FlowDate{
        font-size: 14px;
        }
        
        .FlowDropdown{
        font-size: 14px;
        }
        
        .FlowYes{
        font-size:14px;}
    </style>
    </html>
</apex:page>