<apex:page sidebar="false" showHeader="false" docType="html-5.0">
<vlocity_ps:WaitlistComponent strProgramName="Public Housing" 
strType="Feedback" 
                    strSubType="Tenant" 
                    strObjectName="Case" 
                    boolIsWithSharing="true" 
                    boolSearch="true" 
                    strHeading="Feedback" 
                    strSubHeading="List of compliments, complaints, and feedback" 
                    strImgsrc="{!$Resource.vlocity_ps__cportalHeaderMessageCenter}"
                    strOpenInNew="Tab"
                    LongListNoSort="false" 
                    strActionColumn="Actions" 
    />
                   
</apex:page>